<%- include("./partials/header") -%>
    <title>BLOOD FINDER</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/home.css">
    

    </head>

    <body>
        <%- include("navbar") -%>
            <br><br>
            	<%- include("flash") -%>

             <%- include("./partials/footer") -%>
